<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
        />
    </head>

    <body>
        <div id="app">
            <div class="container">
                <div class="my-3">
                    <button
                        type="button"
                        class="btn btn-outline-primary"
                        @click="status=!status"
                    >
                        切換大頭貼解析度
                    </button>
                    現在圖片解析度：
                    <span v-if="status">清晰</span>
                    <span v-else>模糊</span>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3" v-for="items in info">
                        <div class="card h-100">
                            <div
                                class="position-absolute"
                                style="top: 20px; right: 20px"
                            >
                                <button
                                    type="button"
                                    class="btn btn-outline-danger rounded-pill"
                                    @click="items.favorite=!items.favorite"
                                >
                                    <i
                                        class="bi bi-heart fs-5"
                                        v-if="items.favorite"
                                    ></i>
                                    <i class="bi bi-heart-fill fs-5" v-else></i>
                                </button>
                            </div>
                            <img
                                :src="items.picture.large"
                                class="card-img-top"
                            />
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{items.name.title}}{{items.name.first}}
                                    {{items.name.last}} (
                                    <span v-if="items.gender==='female'"
                                        >👩</span
                                    >
                                    <span v-else>👨</span>
                                    )
                                </h5>
                                <p class="card-text">
                                    Email：<a :href="`mailto:${items.email}`"
                                        >{{items.email}}</a
                                    >
                                </p>
                                <p class="card-text">
                                    Phone:
                                    <a :href="`tel:${items.phone}`"
                                        >{{items.phone}}</a
                                    >
                                </p>
                                <p class="card-text">
                                    Cell:
                                    <a :href="`tel:${items.cell}`"
                                        >{{items.cell}}</a
                                    >
                                </p>
                                <p class="card-text">
                                    City:{{items.location.city}}
                                </p>
                                <p class="card-text">
                                    State: {{items.location.state}}
                                </p>
                                <p class="card-text">
                                    Country: {{items.location.country}}
                                </p>
                                <p class="card-text">
                                    Postcode: {{items.location.postcode}}
                                </p>
                                <p>
                                    Address：<a
                                        :href="`https://www.google.com.tw/maps/search/${items.location.city}${items.location.state}`"
                                        target="_blank"
                                        >{{ items.location.city }} {{
                                        items.location.state }} {{
                                        items.location.country }} {{
                                        items.location.postcode }}</a
                                    >
                                </p>
                                <p class="card-text">
                                    description:
                                    {{items.location.timezone.description}}
                                </p>
                                <p class="card-text">
                                    <small class="text-muted"
                                        >dob：{{items.dob.date}}</small
                                    >
                                </p>
                                <p class="card-text">
                                    <small class="text-muted"
                                        >registered：{{items.registered.date}}</small
                                    >
                                </p>
                                <iframe
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    scrolling="no"
                                    marginheight="0"
                                    marginwidth="0"
                                    :src="`https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=${items.location.coordinates.latitude},${items.location.coordinates.longitude}&z=10&output=embed`"
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="data.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            // console.log(results);

            const app = {
                data() {
                    return {
                        status: true,
                        info: [],
                    };
                },
                methods: {
                    favorite(item) {
                        if (item) {
                            item = false;
                        } else {
                            item = true;
                        }
                    },
                },
                mounted() {
                    for (let i = 0; i < 4; i++) {
                        axios
                            .get("https://randomuser.me/api/")
                            .then((response) => {
                                let oldResults = response.data.results;
                                let newResults = oldResults.map((v, i) => {
                                    return (v = { ...v, favorite: true });
                                });
                                this.info.push(...newResults);
                            })
                            .catch(function (error) {
                                // 请求失败处理
                                console.log(error);
                            });
                    }
                },
            };
            Vue.createApp(app).mount("#app");
        </script>
    </body>
</html>
